{% extends "base.html" %}

{% block content %}
    <h1>IT Task Manager Home</h1>
    <p>Welcome to Best Task Manager!</p>
    <h2>Content</h2>
    <p>IT Task Manager has the following record counts:</p>
    <ul>
        <li><strong>Task:</strong> {{ num_tasks }}</li>
        <li><strong>Worker:</strong> {{ num_workers }}</li>
        <li><strong>TaskType:</strong> {{ num_task_type }}</li>
        <li><strong>Position:</strong> {{ num_position }}</li>
    </ul>

    <p>You have visited this page
        {{ num_visits }} time{{ num_visits|pluralize }}.
    </p>

{% endblock %}
