{% extends "base.html" %}

{% block content %}
  <h1>
    Name: {{ task.name }}
    <a href="{% url 'catalog:task-delete' pk=task.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>

    <a href="{% url 'catalog:task-update' pk=task.id %}" class="btn btn-secondary link-to-page">
      Update task
    </a>
  </h1>

  <p><strong>Description:</strong> {{ task.description }}</p>
  <p><strong>Deadline:</strong> {{ task.deadline }}</p>
  <p><strong>Is completed:</strong> {{ task.is_completed }}</p>
  <p><strong>Priority:</strong> {{ task.priority }}</p>
  <p><strong>Task type:</strong> {{ task.task_type }}</p>

  <div class="ml-3">
    <h4>Workers</h4>

    {% for work in task.assignees.all %}
        <hr>
        <p><strong>Username:</strong> {{ work.username }}</p>
        <p><strong>Position:</strong> {{ work.position }}</p>
        <p class="text-muted"><strong>Id:</strong> {{work.id}}</p>

    {% empty %}
      <p>No workers!</p>
    {% endfor %}
  </div>
{% endblock %}
