{% extends 'layouts/base_sections.html' %}
{% load crispy_forms_filters %}
{% load static %}

{% block body %} class="index-page bg-gray-200" {% endblock body %}

{% block content %}

<header class="header-2">
  <div class="page-header min-vh-75 relative" style="background-image: url('{% static 'img/curved-images/curved5-small.jpg' %}')">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 text-center mx-auto">
          <h1 class="text-white pt-3 mt-n5">Name: {{ task.name }}</h1>
        </div>
      </div>
    </div>

    <div class="position-absolute w-100 z-index-1 bottom-0">
      <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 40" preserveAspectRatio="none" shape-rendering="auto">
        <defs>
          <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
        </defs>
        <g class="moving-waves">
          <use xlink:href="#gentle-wave" x="48" y="-1" fill="rgba(255,255,255,0.40" />
          <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.35)" />
          <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.25)" />
          <use xlink:href="#gentle-wave" x="48" y="8" fill="rgba(255,255,255,0.20)" />
          <use xlink:href="#gentle-wave" x="48" y="13" fill="rgba(255,255,255,0.15)" />
          <use xlink:href="#gentle-wave" x="48" y="16" fill="rgba(255,255,255,0.95" />
        </g>
      </svg>
    </div>
  </div>
</header>

<section class="my-5 pt-5">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-6"></div>
            <div class="col-md-6 text-end">
                <div class="btn-group">
                    <a href="{% url 'catalog:task-update' pk=task.id %}" class="btn btn-primary link-to-page">Update task</a>
                    <a href="{% url 'catalog:task-delete' pk=task.id %}" class="btn btn-primary link-to-page">Delete</a>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
  <div class="ml-auto">
    <p><strong>Description:</strong> {{ task.description }}</p>
    <p><strong>Deadline:</strong> {{ task.deadline }}</p>
    <p><strong>Is completed:</strong> {{ task.is_completed }}</p>
    <p><strong>Priority:</strong> {{ task.priority }}</p>
    <p><strong>Task type:</strong> {{ task.task_type }}</p>
  </div>

  <div class="ml-auto">
    <h4>Workers</h4>
    {% for work in task.assignees.all %}
        <hr>
        <p><strong>Username:</strong> {{ work.username }}</p>
        <p><strong>Position:</strong> {{ work.position }}</p>
        <p class="text-muted"><strong>Id:</strong> {{work.id}}</p>
    {% empty %}
      <p>No workers!</p>
    {% endfor %}
  </div>
</div>
{% endblock content %}
<!-- -------   START PRE-FOOTER 2 - simple social line w/ title & 3 buttons    -------- -->

{% block javascripts %}

<script type="text/javascript">

  if (document.getElementById('state1')) {
    const countUp = new CountUp('state1', document.getElementById("state1").getAttribute("countTo"));
    if (!countUp.error) {
      countUp.start();
    } else {
      console.error(countUp.error);
    }
  }
  if (document.getElementById('state2')) {
    const countUp1 = new CountUp('state2', document.getElementById("state2").getAttribute("countTo"));
    if (!countUp1.error) {
      countUp1.start();
    } else {
      console.error(countUp1.error);
    }
  }
  if (document.getElementById('state3')) {
    const countUp2 = new CountUp('state3', document.getElementById("state3").getAttribute("countTo"));
    if (!countUp2.error) {
      countUp2.start();
    } else {
      console.error(countUp2.error);
    }
  }
</script>

{% endblock javascripts %}
